{% extends 'base.html.twig' %}

{% block body %}
    <h1>La liste des Contacts</h1>

    <a href="{{ path('contact_new') }}" class="btn btn-success btn-block">Ajouter un nouveaux contact</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Phone</th>
                <th>Site Web</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% set i = 0 %}
        {% for contact in contacts %}
            <tr>
                <td><a href="{{ path('contact_show', { 'id': contact.id }) }}">{{ contact.fisrtName }}</a></td>
                <td>{{ contact.lasteName }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.adress }}</td>
                <td>{{ contact.phone }}</td>
                {% for user in users %}
                    {% if contact.email == user.email %}
                        <td><span class="label label-success">Member</span></td>
                    {% else %}
                        <td>
                            <span class="label label-danger">Ce n'est pas un memeber</span>
                            <a href="#"><span class="label label-success">Invite</span></a>
                        </td>
                    {% endif %}
                {% endfor %}
                <td>{{ contact.website }}</td>
                <td>
                    <a href="{{ path('contact_show', { 'id': contact.id }) }}" class="btn btn-success">Aficher</a>
                    <a href="{{ path('contact_edit', { 'id': contact.id }) }}" class="btn btn-primary">Modifier</a>
                    <a href="{{ path('contact_delete', { 'id': contact.id }) }}" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
