{% extends 'base.html.twig' %}

{% block body %}
    <h1>La liste des Contacts</h1>

    <a href="{{ path('contact_new') }}" class="btn btn-success btn-block">Ajouter un nouveaux contact</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fisrtname</th>
                <th>Lastename</th>
                <th>Email</th>
                <th>Adress</th>
                <th>Phone</th>
                <th>Website</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td><a href="{{ path('contact_show', { 'id': contact.id }) }}">{{ contact.id }}</a></td>
                <td>{{ contact.fisrtName }}</td>
                <td>{{ contact.lasteName }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.adress }}</td>
                <td>{{ contact.phone }}</td>
                <td>{{ contact.website }}</td>
                <td>
                    <ul class="list-group">
                        <li  class="list-group-item">
                            <a href="{{ path('contact_show', { 'id': contact.id }) }}" class="btn btn-success">Aficher</a>
                        </li>
                        <li class="list-group-item">
                            <a href="{{ path('contact_edit', { 'id': contact.id }) }}" class="btn btn-primary">Modifier</a>
                        </li>
                        <li class="list-group-item">
                            <a href="{{ path('contact_delete', { 'id': contact.id }) }}" class="btn btn-danger">Supprimer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
